<template>
  <div id="canvas-wrapper">
    <VerticalSlider v-on:update-value="setExplodeScale"></VerticalSlider>
    <Canvas3D ref="canvas"></Canvas3D>
    <resize-observer @notify="resize()" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Canvas3D from '@/components/Canvas3D.vue';
import VerticalSlider from '@/components/VerticalSlider.vue';
import ExplodeScene from '@/scenes/ExplodeScene';

@Component({
  components: {
    Canvas3D,
    VerticalSlider,
  },
})
export default class Explode extends Vue {
  private scene: ExplodeScene | null = null;

  public resize() {
    if (this.scene) {
      this.scene.resize();
    }
  }

  private setExplodeScale(scale: number) {
    if (this.scene) {
      this.scene.explodeScale = scale;
    }
  }

  private mounted() {
    this.scene = new ExplodeScene(
      (this.$refs.canvas as Canvas3D).canvasElement
    );
  }
}
</script>

<style scoped>
#canvas-wrapper {
  width: 100%;
  height: 100%;
}
</style>
