<template>
  <div id="canvas-wrapper">
    <Canvas3D ref="canvas"></Canvas3D>
    <resize-observer @notify="resize()" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Canvas3D from '@/components/Canvas3D.vue';
import HomeScene from '@/scenes/HomeScene';

@Component({
  components: {
    Canvas3D,
  },
})
export default class Home extends Vue {
  private scene: HomeScene | null = null;

  public resize() {
    if (this.scene) {
      this.scene.resize();
    }
  }

  private mounted() {
    this.scene = new HomeScene((this.$refs.canvas as Canvas3D).canvasElement);
  }
}
</script>

<style scoped>
#canvas-wrapper {
  width: 100%;
  height: 100%;
}
</style>
