<template>
  <canvas id="canvas"></canvas>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Canvas3D extends Vue {
  get canvasElement(): HTMLCanvasElement {
    return this.$el as HTMLCanvasElement;
  }
}
</script>

<style scoped>
#canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
</style>
