<template>
  <input
    type="range"
    min="0"
    max="1"
    step="0.01"
    value="0"
    orient="vertical"
    v-on:input="updateValue"
  />
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';

@Component
export default class VerticalSlider extends Vue {
  @Emit()
  private updateValue(event: any) {
    return event.target.value;
  }
}
</script>

<style>
input[type='range'][orient='vertical'] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 15px;
  height: 70%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  z-index: 10;
}
</style>
