<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/explode">Explode</router-link> |
      <!-- <router-link to="/stock">Stock</router-link> -->
    </div>
    <router-view />
  </div>
</template>

<style>
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: relative;
}

#nav {
  position: absolute;
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #236648;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
